<h1>Help Requests</h1>

<table class="table table-hover">
  <thead class="table-primary">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Description</th>
      <th>Priority</th>
    </tr>
  </thead>
  <tbody>
    <% help_requests.each do |help_request| %>
      <tr>
        <td><%= help_request.name %> </td>
        <td><%= help_request.email %> </td>
        <td><%= help_request.description %> </td>
        <td><%= help_request.priority %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
